/* Put any custom CSS styles here.  */
/* Be sure to delete the <style> tag in index.html if you want to use this stylesheet. */
body {
  margin: 0;
  font-family: "Noto Sans", system-ui, -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  min-height: 100vh;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  background: linear-gradient(to bottom, #f9fafb, #d2d6db);
  padding-left: 17.5px;
  padding-right: 17.5px;
}

* {
  box-sizing: border-box;
}

.credits {
  color: #777;
  position: fixed;
  bottom: 24px;
  left: 24px;
  font-size: 11px;
  text-align: center;
}

.credits a {
  color: #000;
  font-weight: bold;
}
.card {
  max-width: 340px;
  width: 100%;
  border-radius: 8px;
  box-shadow: 0px 1px 3px rgba(0,0,0,0.1), 0px 1px 2px rgba(0,0,0,0.06);
  overflow: hidden;   
  background: white;
  margin: 80px auto 0 auto;
}
.image {
  width: 100%;
  height: 288px;
  object-fit: cover;
}
.card .content {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 24px;
  padding-bottom: 24px;
}

.card .content .chip {
  align-self:  flex-start;
  background-color: #f0fdf4; /* green-50 */
  border: 1px solid #BBF7D0; /* green-200 */
  color: #15803D;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  padding-left: 8px;
  padding-right: 8px;
  padding-top: 2px;
  padding-bottom: 2px;
  border-radius: 9999px
}

.card .content .info {
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.card .content .title-desc {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.card .content h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 28px;
  color: #171717;
  margin: 0;
}

.card .content p {
  font-size: 16px;
  font-weight: 500;
  color: #525252;
  line-height: 24px;
  margin: 0;
}

.cta button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
  color:#4338CA;
  font-size: 16px;
  font-weight: 500;                                                                                                                     
  line-height: 24px;                                                                                                                  
  font-family: inherit;

}
.cta button:hover {
  color:#3730a3;
}